﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Mobile_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            max-width: 150px;
            text-align: center;
            margin: 24px auto 12px auto;
        }

        img.avatar {
            width: 40%;
            /*border-radius: 50%;*/
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h2>Vansales Mobile</h2>

    <form id="form1" runat="server">
        <div class="imgcontainer">
            <img src="../img/forsan.jpg" alt="Forsan" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <asp:TextBox ID="txtUserName" runat="server" Text="admin" TabIndex="1"></asp:TextBox>

            <label for="psw"><b>Password</b></label>
            <asp:TextBox ID="txtPassword" runat="server" Text="admin123" TextMode="Password" TabIndex="2"></asp:TextBox>

            <asp:Label ForeColor="Red" Text="" ID="lblMessageError" runat="server"></asp:Label>
            <asp:Button ID="btn_Login" runat="server" Text="Login" OnClick="btn_Login_Click" class="btnPopup btn btn-success"></asp:Button>
        </div>
    </form>
</body>
</html>
