﻿@import url("Fonts.css");

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: 'Product Sans';
}


* [class^="dxgvControl_"], * [class^="dxgvDisabled_"] {
    font-family: 'Product Sans';
    font-size: 12px;
}

.ASPxGridView100Percent {
    width: 100% !important;
}

.dxgvCSD {
    height: 450px !important;
}

.dxbButton_update_customer_btn {
    color: #1e395b;
    font: 11px Verdana, Geneva, sans-serif;
    border: 1px solid #abbad0;
    background: #d1dfef url('/DXR.axd?r=0_3809-eFtjc') repeat-x left top;
    padding: 1px;
    display: block !important;
    margin: 10px auto 0px;
    width: 52%;
}

.dxbButtonHover_update_customer_btn {
    color: #1e395b;
    background: #fcf8e5 url('/DXR.axd?r=0_3810-eFtjc') repeat-x left top;
    border: 1px solid #eecc53;
}

.dxbButton_update_customer_btn div.dxb {
    padding: 2px 0px;
    margin: 0 auto;
    display: block;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100vh;
}

.full-height {
    height: 90vh;
    overflow-y: auto;
}

.real-content {
    height: 80vh;
}

.footer-row {
    height: 10vh;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Special Classes to deal small tweaks */
.no-vertical-padding {
    padding-bottom: 0;
    padding-top: 0;
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-vertical-margin {
    margin-bottom: 0;
    margin-top: 0;
}

.no-horizontal-margin {
    margin-left: 0;
    margin-right: 0;
}

footer p {
    padding: 5px;
    margin: 0;
}

footer hr {
    margin: 0px;
    margin-bottom: 5px;
}

.left-nav-sidebar {
    padding-top: 5%;
    background-color: #e3e3e3;
    /*min-height: 700px;*/
}

.nav-submenu {
    display: none;
    background: #3e3e3e;
    font-size: 12px;
}

    .nav-submenu li a {
        padding-left: 30px;
    }

.container-fluid .row {
    margin-right: auto;
}

/*.row {
    overflow-x: auto;
}*/

.take-full-height {
    min-height: 80vh;
}

/***** Popup Related CSS *****/
.popup {
    position: absolute;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    width: 480px;
    top: 8%;
    left: 50%;
    margin-left: -280px;
    background: #fff;
}

.overlay {
    /*display: none;*/
    width: 100%;
    height: 1200px;
    overflow: hidden;
    background: rgba(159, 159, 159, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.close_btn {
    top: 5px;
    right: 5px;
    color: #ffffff;
    position: absolute;
}

.form_sub_panel {
    border-top: 1px solid;
    padding: 5px;
    margin-left: 50px;
    font-size: 10px;
    border-bottom: 1px solid;
    width: 50%;
    margin-bottom: 10px;
    background: #e3e3e3;
}

.gridview_checkbox {
    text-align: center;
    width: 100%;
    display: block;
}
