﻿html, body {
    height: 100%;
    min-height: 100%;
    margin:0px;
    padding:0px;
}

body {
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: small;
}

h2 {
    color: black;
}

p {
    padding: 0;
    margin: 0;
}

/* Custom Css starts here */
.PageDiv {
   
    min-height: 100%;
    height: 100%;
    width: 100%;
}
/*header css here*/
.header {
    float: left;
    width: 100%;
    height: 14%;
    /*background: url('img/itask/header.PNG') repeat-x;*/   
    background-color:green;
}

.headerUser img {
    width: 25px;
    height: 25px;
    border: solid;
    vertical-align: middle;
     height:100%;
}

.headerLogo {
    float: left;
    color: white;
    padding: 10px 0px 0px 10px;
}

    .headerLogo img {
        height: 40px;
        width: 40px;
        vertical-align: middle;
    }

.headerUser {
    float: right;
    color: white;
    padding: 10px 10px 0px 0px;
}

.headerLogo a {
    text-decoration: none;
    color: white;
}

/*Wrapper css here   wrapper includes both sidebar and content*/
.wrapper {
   height: 80%;
    float: left;
    width: 100%;
    background-color: beige;
    /*background: url('../img/itask/bg.PNG');*/
    /*overflow-y:scroll;*/
}

/*Sidebar css here*/
.sideBar {
    float: left;
    width: 20%;
    max-width:300PX;
    /*max-height:650px;*/
    /*background:url('img/itask/header.PNG');*/
    background-color: white;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;   
}

.sideBarHeader {
    width: 100%;
    /*height: 35px;*/
    background-color: yellowgreen;
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: smaller;
}

    .sideBarHeader strong {
        color: blue;
        font-size: smaller;
    }

.sideBar ul {
    padding: 0px;
    margin: 0px;
}

    .sideBar ul li {
        /*background:url('img/itask/hdr6.PNG');*/
        padding-top: 10px;
        margin-bottom: 2px;
        list-style-type: none;
        /*border-radius:5px;*/
        border: 0px solid grey;
        color: white;
        background-color: green;
        /*text-align:center;*/
    }

        .sideBar ul li img {
            width: 30px;
            height: 25px;
            padding: 0px 10px 5px 10px;
            vertical-align: middle;
        }

        .sideBar ul li a {
            color: white;
            text-decoration: none;
            display: block;
        }

        .sideBar ul li:active ul.sideBar {
            display: block;
        }

/* Sidebar ul li ul here */
/*  sub menu here */
.subMenu {
    display: none;
}

.sideBar ul li .subMenu li {
    background-color: white;
    margin: 0px;
    padding:0px;
    border-bottom: 1px solid black;
}

    .sideBar ul li .subMenu li:hover {
        background-color: #fddc7f;
        background: #fddc7f url('') padding-top: 10px;
        margin: 0px;
        border: 1px solid #c2762b;
    }

    .sideBar ul li .subMenu li a {
        color: black;
            padding-top: 10px;
        font-family: Arial;
        font-size: small;
    }

    .sideBar ul li .subMenu li img {
        width: 25px;
        height: 20px;        
    }

    /****** ******/
    .sideBar ul li .subMenu li.activeLI {
        background-color:#FFDEAD;
    }
    
/*Content css here*/
.Content {
    float: left;
    width: 80%;
    padding: 0px;
    min-height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}

.topContentBar {
    width: 100%;
    background: url('../img/itask/header.PNG');
    margin: 0px;
    padding: 0px;
    color: white;
}

    .topContentBar ul {
        margin: 0px;
        padding: 0;
        padding-top: 10px;
    }

        .topContentBar ul li {
            display: inline-block;
            padding: 0px 10px 0px 10px;
        }

/*Footer css here*/
.footer {
    float: left;
    width: 100%;
    height:5%;
    /*background: url('img/itask/header.PNG');*/
    text-align: center;
    background-color:green;
}

    .footer img {
        vertical-align: middle;
        
    }

/* clander css here */
#MainCalendar a {
    text-decoration: none;
}

/*  CLEARFIX  */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#MainCalendar {
 background-color:green;  
}

#MainCalendar .WeekendDayStyle {
 background-color:#FF7F50;  
}
