﻿
/*:root {
--main-bg-color: 00a69c;
}*/

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

* [class^="dxgvControl_"], * [class^="dxgvDisabled_"] {
    font-family: 'Product Sans';
    font-size: 11pt;
}

.rowHeight {
    height: 50px !important;
    margin: 0px;
    padding: 0px;
}

.dxgvDataRow {
    height: 20px;
}

body {
    background-color: rgba(159, 159, 159, 0.5);
    font-family: 'Product Sans';
    font-weight: normal;
    font-weight: 600;
}

h2 {
    color: black;
}

p {
    padding: 0;
    margin: 0;
}

/* Custom Css starts here */
.PageDiv {
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: #F7F5F1;
}

.testID1 {
    background: url('../img/testimg/keyboard.jpg') !important;
    background-position: center;
}


/*header css here*/
.header {
    float: left;
    width: 100%;
    height: 60px;
    /*background-color: #00a69c;*/
    background: linear-gradient( #a7d0c6, #23BCB9, #00a69c);
    /*background: url('../img/www.png');
    background-size: 100% 60px;*/
    position: fixed;
    top: 0px;
    padding: 2px 0px;
}

    .header hr {
        display: block;
        width: 100%;
    }

.headerUser img {
    width: 25px;
    height: 25px;
    border: 2px solid #00BFB3;
    vertical-align: middle;
}

.headerLogo {
    float: left;
    color: white;
    padding: 10px 0px 0px 15px;
    margin-bottom: 4px;
}

    .headerLogo h2 {
        margin: 0;
    }

    .headerLogo img {
        height: 40px;
        width: 25px;
        vertical-align: middle;
    }

.headerUser {
    float: right;
    color: white;
    padding: 15px 50px 0px 0px;
}

.headerLogo a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    /*font-weight: bold;*/
}

/*Wrapper css here   wrapper includes both sidebar and content*/
.wrapper {
    float: left;
    width: 100%;
    background-color: azure;
    padding: 0px;
    margin: 0px;
    margin-top: 60px;
    position: relative;
    z-index:1;
    overflow:hidden; /*if you want to crop the image*/
}

/* You could use :after - it doesn't really matter */
.wrapper:before {
    z-index:-1;
    position:absolute;
    right:0;
    top:0;
    content: url('../img/van-bg-2.png');
    opacity:0.35;
}

/*Sidebar css here*/
.sideBar {
    float: left;
    width: 19.5%;
    /*max-width: 300px;*/
    background-color: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2), 0px 4px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Product Sans';
    font-size: 11pt;
}

.sideBarHeader {
    width: 100%;
    background-color: #00BFB3;
    /*background: linear-gradient( #F7F5F1, #00BFB3);*/
    background-color: #FFFF00;
    padding: 10px;
    margin: 0px;
    text-align: left;
    height: 50px;
    font-size: 12px;
}

    .sideBarHeader strong, .sideBarHeader small {
        color: black;
    }

.sideBar ul.mainMenu {
    padding: 0px;
    margin: 0px;
    background-image: url('../img/testimg/original.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .sideBar ul.mainMenu li {
        list-style-type: none;
        border-bottom: 1px solid white;
    }

    .sideBar ul.mainMenu > li {
        color: black;
        background-color: #00a69c;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

.sideBar ul.mainMenu > li img {
    width: 50px;
    height: 25px;
    padding: 0px 10px 5px 10px;
    vertical-align: middle;
}

.sideBar ul.mainMenu > li > a:hover {
    color: black !important;
}

.sideBar ul.mainMenu > li > a.activeModule:hover {
    color: black !important;
}

.sideBar ul.mainMenu > li > a {
    color: white;
    text-decoration: none;
    display: block;
}


.sideBar ul li a {
    padding-top: 10px;
    display: block;
}

/* Sidebar ul li ul here */
/*  sub menu here */
.subMenu {
    display: none;
    background-color: #ffffff;
}

    .subMenu > li > a, .subMenu > li {
        background-color: #ffffff;
        color: black;
    }

.extendedSubMenu {
    display: none;
    background-color: #737473;
}

.sideBar ul li .extendedSubMenu li {
    background-color: #737473;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
}

    .sideBar ul li .extendedSubMenu li:hover, .sideBar ul li .subMenu li:hover > a {
        background-color: #00BFB3;
        background: linear-gradient( #F7F5F1, #FFDEAD);
        margin: 0px;
        padding-left: 3px;
        color: black;
    }

        .sideBar ul li .extendedSubMenu li:hover a {
            color: black;
        }

    .sideBar ul li .extendedSubMenu li a:hover {
        color: black !important;
    }

    .sideBar ul li .extendedSubMenu li a {
        color: white;
        padding-top: 10px;
    }


    .sideBar ul li .extendedSubMenu li img {
        width: 50px;
        height: 25px;
    }

    /****** ******/
    .sideBar ul li .extendedSubMenu li.activeLI {
        background-color: #000000;
        /*background: linear-gradient( #F7F5F1, #FFDEAD);
        background-color: #A6E3E3;*/
    }

        .sideBar ul li .extendedSubMenu li.activeLI a {
            color: #ffffff;
        }

/*Content css here*/
.mainContent {
    padding: 0px 0px;
    border-left: 1px double #6d6b6b;
}

.Content {
    float: left;
    width: 80.5%;
    padding: 0px;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.topContentBar {
    width: 100%;
    /*background: #6d6c6e url('/DXR.axd?r=0_3549-eFtjc') repeat-x left top;*/
    /*background: linear-gradient( #F7F5F1, #00BFB3);*/
    background-color: #FFFF00;
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
    color: white;
    height: 50px;
    border-left: 1px double #6d6b6b;
}

    .topContentBar img {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .topContentBar ul {
        margin: 0px;
        padding: 0px;
    }

        .topContentBar ul li {
            display: inline-block;
            /*background-color: #00a69c;*/
            /*background: radial-gradient(#00a69c 99.9%, #a7d0c6 0.1%);*/
            /*background-color: #00CFB4;*/
            width: 50px;
            height: 40px;
            /*color: #fff;
            padding: 2px 5px 2px 10px;*/
            margin-left: 5px;
            /*border-radius: 6px;*/
            /* box-shadow: 2px 3px 5px darkgreen; */
            /*border-bottom: 5px outset #00a69c;
            border-right: 3px outset #00a69c;*/
            /*box-shadow: rgba(50,50,50, .7) 3px 4px 2px 1px;*/
        }

            .topContentBar ul li input[type="image"]:hover {
                border: none !important;
                box-shadow: none !important;
            }

            .topContentBar ul li:hover {
                background: linear-gradient( #F7F5F1, #00a69c);
            }

/*Footer css here*/
.footer {
    float: left;
    width: 100%;
    /*height: 6%;*/
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: #3E3E3E;
    color: white;
    /*background: linear-gradient(to left,  #a7d0c6, #00a69c);*/
    text-align: center;
    /*bottom: 0px;
position: fixed;*/
}

    .footer img {
        vertical-align: middle;
    }

.bottomMenu {
    float: left;
    width: 100%;
    height: 40%;
    color: black;
    background-color: #EAEBE0;
    text-align: left;
}

.bottomMenuFirst {
    float: left;
    font-size: 9pt;
}

.bottomMenuSecond {
    float: right;
    font-weight: bold;
    font-size: 9pt;
}
/* clander css here */
#MainCalendar a {
    text-decoration: none;
}

/*  CLEARFIX  */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


/* form css starts here */
.formDiv {
    background-color: #F7F5F1;
    height: 100%;
}



    .formDiv .formHeaderDiv {
        width: 100%;
        height: 35px;
        background-color: #00a69c;
        border-bottom: 1px solid #3E3E3E;
        box-shadow: rgba(0,0,0,.4) 0px 3px 0px 0px;
        border-color: #006d81;
        text-align: center;
        color: #000000;
    }

.FieldSetTop table {
    margin: 02px auto;
}

.formDiv label {
    color: black;
}

.formDiv .FromGridView {
    margin: 0px auto;
    width: 98% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .formDiv .FromGridView input {
        border-radius: 8px;
        line-height: 20px;
    }

h3 {
    margin: auto;
    padding: 5px;
}

a:focus, a:hover {
    text-decoration: none !important;
}


input[type="text"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    margin: 3px auto;
    padding: 3px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}

    input[type="text"]:focus, select:focus {
        border: 1px solid rgba(81, 203, 238, 1);
        border-radius: 8px;
    }

    input[type="text"]:hover {
        border-radius: 8px;
    }

input[type="submit"] {
    border-radius: 8px;
}

input[type="image"]:hover {
    border-radius: 8px;
    box-shadow: #888888 2px 2px 1px;
}

input[type="image"]:focus {
    border-radius: 6px;
}


select {
    border-radius: 8px;
}

    select:hover {
        border-radius: 8px;
        box-shadow: #888888 2px 2px 1px;
    }

h1, .h1, h2, h3, h4 {
    margin-top: 0px !important;
}

.FormPopup {
    position: absolute;
    background-color: white;
    background: url('../img/testimg/abstrt.jpg');
    background-size: 100% 100%;
    min-width: 850px;
    max-width: 950px;
    min-height: 200px;
    margin: 0px auto;
    margin-left: -425px;
    top: 75px;
    left: 50%;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,.4) 0px 1px 2px 1px;
    font-weight: bold;
}

    .FormPopup fieldset {
        padding: 10px;
        max-height: 520px;
        overflow-y: auto;
    }

.dxeButtonEditSys .dxeEditAreaSys, .dxeButtonEditSys td.dxic, .dxeTextBoxSys td.dxic, .dxeMemoSys td, .dxeEditAreaSys {
    /*width:1000%;*/
    /*height:15px;*/
}

table.dxeTextBoxSys, table td.dxic, table.dxeButtonEdit {
    border-radius: 4px;
    height: 5px;
    overflow: hidden;
}

.dxeButtonEditSys .dxeButton {
    border-radius: 5px;
    padding: 6px 10px;
}

.FormPopup .formHeaderDiv {
    width: 100%;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #3E3E3E;
    box-shadow: rgba(0,0,0,.4) 0px 3px 0px 0px;
    background: linear-gradient(#00BFB3, #FFFF99, #00BFB3);
    background: linear-gradient(#00BFFE, #00BFFE, #00BFFE);
    background: linear-gradient(#1da1f2, #1da1f2, #1da1f2);
    background: linear-gradient(#00B9B9, #00B9B9, #00B9B9);
    text-align: left;
    color: white;
}

    .FormPopup .formHeaderDiv h3 {
        margin-top: 0px;
    }

.FormPopup input, select {
    margin-top: 10px;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    box-shadow: rgba(0,0,0,.4) 0px 2px 0px 0px;
}

.overlay {
    width: 100%;
    height: 1200px;
    overflow: hidden;
    background: rgba(000,000, 000, .7);
    box-shadow: rgba(0,0,0,.8) 3px 5px 3px 2px;
    position: fixed;
    top: 0;
    left: 0;
}

.FormLoginoverlay {
    width: 100%;
    height: 1200px;
    overflow: hidden;
    background: rgba(000, 000, 000, .9);
    background: linear-gradient(to bottom, #82878f 0%, #73787e 100%);
    background-image: url('../img/testimg/keyboard.jpg');
    box-shadow: rgba(0,0,0,.8) 3px 5px 3px 2px;
    position: fixed;
    top: 0;
    left: 0;
}

#TestID1 {
    background: url('../img/testimg/keyboard.jpg') !important;
}

.FormPopup table > tbody > tr > td {
    text-align: left;
    padding-left: 10px;
    padding-top: 6px;
}

.dxeRoot > tbody > tr > td {
    padding-left: 0px !important;
}

#orderListingGrid table {
    /*margin:0px auto;*/
}

.form-group {
    margin-bottom: 5px !important;
}

.form-control {
    height: auto !important;
    padding: 0px 0px !important;
}


.EditGVcol {
    cursor: pointer;
}

.alterRowGV {
    background-color: #006d81;
    background-color: #8DCECE;
    background-color: #a7d0c6;
    background-color: #A6E3E3;
    background-color: rgba(166,227,227,0.5);
}

.btna {
    width: 30px !important;
}

#UpdateBtn1 {
    /*height: 50px;
width: 50px;*/
}

.dxbButton div.dxb, .dxbButton .dxbButtonSys .dxbTSys {
    padding: 0px !important;
}

#btnPostRecord {
    background-color: #ff9900;
    color: white;
    border: none !important;
}

#btnPostRecord {
    /*border: 10px solid red;*/
    /*border-color :#ff9900;*/
}

.btnPopup {
    color: white !important;
    margin-right: 25px;
    min-width: 70px;
}

.btn-danger-modified {
    background-image: linear-gradient(to bottom, rgba(217, 83, 79, 1) 0,rgba(193, 46, 42, 0.2) 100%) !important;
}

.dxgvControl_Office2010Black a {
    color: white;
}

.FieldSetTop {
    margin: 0 auto;
    text-align: left;
    background-color: #F7F5F1;
    background-color: #A6E3E3;
}

.dxeButtonEdit td.dxic {
    background-color: white;
}

.dxeTextBoxSys td.dxic {
    padding: 3px 3px 2px 3px;
    overflow: hidden;
    background-color: white;
    height: 25px;
}

fieldset {
    border: 1px solid #D5DfE5;
}

.DivReq input {
    background-color: beige;
}

.DivReq select {
    background-color: beige;
}

.DivReq input[type="password"] {
    border-radius: 8px;
}

.lblMessageError {
    color: red;
    text-align: center;
}

.MsgError {
    color: red !important;
    font-weight: bold;
}

.dxbButton {
    /*box-shadow: 2px 5px 3px 0 inset #3E3E3E !important;*/
    border: 4px solid rgba(0,0,0,.4);
}

/*.dxbButton_Office2010Black[class~="dxgvCommandColumnItem_Office2010Black"], .dxgvEditFormTable_Office2010Black div.dxbButton_Office2010Blac {
box-shadow: rgba(50,50,50, .7) 3px 4px 2px 1px;
}*/
.loginoverlay {
    background: black;
}

.FormLogin {
    position: absolute;
    background-color: white;
    width: 700px;
    height: 350px;
    margin-left: -350px;
    top: 10%;
    left: 50%;
    box-shadow: rgba(50,50,50, .7) 6px 6px 4px 2px;
    text-align: left;
    background-size: 300px 450px;
    background-position: center;
}

    /*.FormLogin .formHeaderDiv {
        width: 100%;
        background-color: rgba(135, 206, 250, 0.5);
        text-align: center;
    }*/
    .FormLogin fieldset {
        margin-top: 50px;
    }

    .FormLogin input, select {
        margin-top: 10px;
        width: 100% !important;
        display: block;
        height: 29px;
    }

    .FormLogin table {
        text-align: left;
        margin: 10px auto;
        width: 80%;
    }

    .FormLogin .LoginBtnWrapper input {
        margin: 5px auto;
        display: block;
    }

/* gridview css here  text-align: center; padding: 5px 0px; margin: 0 auto; width: 100%; */


.dxpcModalBackground_Glass {
    background-color: black;
    opacity: 0.1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=90);
}

.dxgvCSD {
    /*height: auto !important;
    min-height: 420px !important;
    max-height: 500px !important;*/
    background: white;
}

/*.dxgvCSD table {
        table-layout: auto !important;
    }*/

.dxgvButtonPopUp_Uadate {
}

.dxpcModalBackLite_Office2010Black {
    /*background-color: #3E3E3E;*/
}

button, input, select, textarea {
    /*padding-top: 10px !important;*/
}

td, th {
    /*padding:1px !important;*/
}

.dxbButton, .dxbButtonSys, .dxbTSys, .dxbButtonHover {
    /*background-color: #00A69C;*/
}
