﻿@import url("../fonts/FontTemplate.css");

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(159, 159, 159, 0.5);    
    font-family: 'Product Sans';
    font-weight:normal;
     font-weight:600;
}

h2 {
    color: black;
}

p {
    padding: 0;
    margin: 0;
}

/* Custom Css starts here */
.PageDiv {
    min-height: 100%;
    height: 100%;
    width: 100%;
}
/*header css here*/
.header {
    float: left;
    width: 100%;
    height: 14%;
    /*background: url('img/itask/header.PNG') repeat-x;*/
    background-color:#808080;
}

.headerUser img {
    width: 25px;
    height: 25px;
    border:2px solid yellow;
    vertical-align: middle;
    height: 100%;
}

.headerLogo {
    float: left;
    color: white;
    padding: 10px 0px 0px 10px;
}

    .headerLogo img {
        height: 40px;
        width: 40px;
        vertical-align: middle;
    }

.headerUser {
    float: right;
    color: white;
    padding: 10px 10px 0px 0px;
}

.headerLogo a {
    text-decoration: none;
    color: white;
}

/*Wrapper css here   wrapper includes both sidebar and content*/
.wrapper {
    height: 80%;
    float: left;
    width: 100%;
    background-color: beige;
    background: url('../img/itask/bg.PNG');
    /*overflow-y:scroll;*/
}

/*Sidebar css here*/
.sideBar {
    float: left;
    width: 20%;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sideBarHeader {
    width: 100%;
    /*height: 35px;*/
    background-color:#fddc7f;
    background-color:#ECF4FE;
    padding: 10px;
    margin: 0px;
    text-align: left;
    /*font-size: smaller;*/
}

    .sideBarHeader strong {
        color: blue;
        /*font-size: smaller;*/
    }

.sideBar ul {
    padding: 0px;
    margin: 0px;
}

    .sideBar ul li {
        /*background:url('img/itask/hdr6.PNG');*/
        padding-top: 10px;
        margin-bottom: 2px;
        list-style-type: none;
        /*border-radius:5px;*/
        border: 0px solid grey;
        color: white;
        background-color:#808080;
        /*text-align:center;*/
    }

        .sideBar ul li img {
            width: 30px;
            height: 25px;
            padding: 0px 10px 5px 10px;
            vertical-align: middle;
        }

        .sideBar ul li a {
            color: white;
            text-decoration: none;
            display: block;
        }

        .sideBar ul li:active ul.sideBar {
            display: block;
        }

/* Sidebar ul li ul here */
/*  sub menu here */
.subMenu {
    display: none;
}

.sideBar ul li .subMenu li {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
}

    .sideBar ul li .subMenu li:hover {
        background-color: #fddc7f;
        background: #fddc7f url('') padding-top: 10px;
        margin: 0px;
        border: 1px solid #c2762b;
    }

    .sideBar ul li .subMenu li a {
        color: black;
        padding-top: 10px;
        /*font-family: Arial;*/
        /*font-size: small;*/
    }

    .sideBar ul li .subMenu li img {
        width: 25px;
        height: 20px;
    }

    /****** ******/
    .sideBar ul li .subMenu li.activeLI {
        background-color: #FFDEAD;
    }

/*Content css here*/
.mainContent {
    padding:10px 15px;;
}

.Content {
    float: left;
    width: 80%;
    padding: 0px;
    min-height: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
}

.topContentBar {
    width: 100%;
    /*background-color:#808080;*/
     background-color:#fddc7f;
      background-color:#ECF4FE;
    /*background: url('../img/itask/header.PNG');*/
    margin: 0px;
    padding: 0px;
    color: white;
}

    .topContentBar ul {
        margin: 0px;
        padding-bottom: 8px;
        padding-top: 10px;
    }

        .topContentBar ul li {
            display: inline-block;
            padding: 0px 10px 0px 10px;
        }

/*Footer css here*/
.footer {
    float: left;
    width: 100%;
    height: 5%;
    background-color:#808080;
    /*background: url('img/itask/header.PNG');*/
    text-align: center;
}

    .footer img {
        vertical-align: middle;
    }

/* clander css here */
#MainCalendar a {
    text-decoration: none;
}

/*  CLEARFIX  */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


/* form css starts here */
.formDiv {
  
    background-color:white;
    /*width: 64%;*/
    height: 70%;
    margin: 5px auto;
    border-radius: 5px;
    border: 2px solid;
    border-color: lightgray;
    overflow:scroll;
}

    .formDiv .formHeaderDiv {
        width: 100%;
        height: 40px;
        background-color:#ECF4FE;
          background-color:lightgray;
         /*background-color:#a7d0c6;*/
        /*background: url('../img/itask/header.PNG');*/
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-color: lightgray;        
    }

    .formDiv label {
        /*font-size: small;*/
        color: black;
    }
     .formDiv table tr td {
        width:80px;
    }

    .formDiv .FromGridView {
        margin:0px auto;
        border-radius:10px;
    }
     .formDiv .FromGridView input{
       
        border-radius:10px;
    }

h3 {
        margin: auto;
}


input[type="text"] {
    border-radius: 8px;
    height: 20px;
}

input[type="text"]:hover {
    border-radius: 8px;
    height: 20px;
    box-shadow:skyblue 4px 4px 0px 1px;
}

input[type="submit"] {
    border-radius: 8px;
}

input[type="image"]:hover {
    border-radius: 8px;
    box-shadow:rgba(159, 159, 159, 0.5) 4px 4px 1px 2px;
}
input[type="image"]:focus {
    border-radius: 6px;
    box-shadow:skyblue 4px 4px 1px 2px;
}

select {
    border-radius: 10px;
    height: 25px;
}
select:hover {
     border-radius: 8px;
    height: 25px;
    box-shadow:skyblue 4px 4px 0px 1px;
}

/* formPopup css starts here */
.FormPopup {
    position: absolute;
    background-color: white;
    /*background: url('../img/iTask/bgForm.jpg');*/
    min-width: 600px;
    min-height: 300px;
    margin: 15px auto;
    top: 15%;
    left: 30%;
    border-radius: 39px;
    box-shadow:rgba(50,50,50, .7) 6px 6px 4px 2px;
    border: 3px solid;
    border-color: lightgray ;
    text-align: center;
    /*margin-left:-300px;*/
}

    .FormPopup .formHeaderDiv {
        width: 100%;
        height: 30px;
        /*background: url('../img/itask/header.PNG');*/
        background-color:#808080;
        padding: 1px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-color: skyblue;
    }
    .FormPopup input, select {
        margin-top:20px
    }
    /*.popup {  
    
   
    margin-left: -280px;
    background: #fff;
}*/

.overlay {
    width: 100%;
    height: 1200px;
    overflow: hidden;  
    background: rgba(159, 159, 159, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

/*.btnPopupClose {
    width:25px;
    height:25px;
    top: 5px;
    right: 35px;
    color: #ffffff;    
    background-color:red;
    border-radius:12px;
}*/

.FormPopup table tr td {
    text-align:left;
}

#orderListingGrid table {
    margin:0px auto;
}

.EditGVcol {
    cursor:pointer;
}

.alterRowGV {
    background-color:#a7d0c6;
      background-color:lightgray;
    /*background-color:#99ccff;*/
}
#UpdateBtn1 {
    height:50px;
    width  :50px;
}